/******************************************************
*
* Author ::
* Date
***********************************/

/* Targeting elements / tags */

h2{
    font-size: 24px
}

#wyjasnienie {  /*ID*/
    font-size: 18 px;
    color: red;
}


.deck{   /*class*/
    color: green;
    display : block;
}
/*film 10*/
span{
    color: blue;
}

span{
    color: red;
}

/*film 11*/
body{
    color: red;
}

div{
    color: blue;
}

p {
    color: green;
}

a{
        color: red;
}