/******************************************************
*
* Author ::
* Date
***********************************/

/* Targeting elements / tags */

h2{
    font-size: 24px
}

#wyjasnienie {  /*ID*/
    font-size: 18 px;
    color: red;
}


span{
        display : block;
        color: blue;
}

.deck{   /*class*/
    color: green;
    display : block;
}