/*
a:hover{  /* a - dotyczy wszystkich a ; ":" - oznacza Pseudo class;
             hover - pseudoclass keyword */
  /*color : red    ;

}
/*
#header:hover{
    background-color: green;
}

a:active{
    color:orange;
}

a:visited
    {color:purple;
    }
*/
/*
article p:first-child{
    font-weight: bold;
}

article p:last-child{
    color: red;
}
*/

/*
article p:first-of-type{
    font-weight: bold;
}

article p:last-of-type{
    color: red;
    */
/*
li:nth-child(1), li:nth-child(5){
    font-weight: bold;
}

li:nth-child(even){
    background:gray;
}

li:nth-child(odd){
    background:pink;
}

li:nth-child(2n + 1){
    color: red;
}
*/

/*
article:nth-of-type(3){
    color:green;
}

article:nth-of-type(odd){
    background-color:red;
}

article:nth-of-type(even){
    background-color:blue;
}

article:nth-of-type(2n + 1){
    font-weight: bold;
}
*/
/*
article.featured{
    background-color: red;
}

div.featured{
    background-color: yellow;
}
*/

/*
*{
    margin: 0;
    padding: 0;
    color: black;
}

p {
    color:red;
}
*/

/*
h1{
    font-size: 48px;
}

div{
    font-size: 16px ;
}

div h1{
    font-size: 5em;
}

div p{
    font-size: 40%;
}
*/

/*
div h1, div p{
    font-family: arial, Arial, Helvetica, sans-serif;
}

*/
/*
div {
    text-decoration: underline;
}

a {
    text-decoration: inherit;
}

div p {
    text-decoration: line-through;
}
*/
/*
h1{
    font-weight: normal;
}

p{
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
*/
/*
#header p{
    text-transform: capitalize;
}

body{
    text-transform: uppercase;
}
body > div{
    text-transform: none ;
}
*/
/*
#header h1{
    color: pink;
}

#header p{
    color: #758493;
}

#header {
    background:url(https://www.wprost.pl/_thumb/76/a5/701564e617ac922b9d9c19c3bf4d.jpeg);
}
*/
/*
a{
    color:crimson;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    color:darkmagenta;
    text-decoration: underline;
    background-color: aquamarine;
}
*/
/*
p{
    font-size: 12px;
    letter-spacing: 2em;
    word-spacing: 250%;
    line-height: 12px;
}
*/
/*
p{
    font-size: 14px;
    line height: 2em;
    margin-bottom: 32px;
}
*/
/*
.box{
    margin: 30px;
    padding: 30px;
    border: 1px solid#000;
    width: 400px;
    height: 200px;
}
*/

.box{
    margin: 30px auto;
    padding: 30px;
    border: 1px solid#000;
    width: 400px;
   
}


.box{
    margin: 30px 10%;
    border: 1px solid#000;
    width: 80%;
   
}