a:hover{  /* a - dotyczy wszystkich a ; ":" - oznacza Pseudo class;
             hover - pseudoclass keyword */
  color : red    ;

}
/*
#header:hover{
    background-color: green;
}

a:active{
    color:orange;
}

a:visited
    {color:purple;
    }
*/
/*
article p:first-child{
    font-weight: bold;
}

article p:last-child{
    color: red;
}
*/

/*
article p:first-of-type{
    font-weight: bold;
}

article p:last-of-type{
    color: red;
    */
/*
li:nth-child(1), li:nth-child(5){
    font-weight: bold;
}

li:nth-child(even){
    background:gray;
}

li:nth-child(odd){
    background:pink;
}

li:nth-child(2n + 1){
    color: red;
}
*/

/*
article:nth-of-type(3){
    color:green;
}

article:nth-of-type(odd){
    background-color:red;
}

article:nth-of-type(even){
    background-color:blue;
}

article:nth-of-type(2n + 1){
    font-weight: bold;
}
*/
/*
article.featured{
    background-color: red;
}

div.featured{
    background-color: yellow;
}
*/

/*
*{
    margin: 0;
    padding: 0;
    color: black;
}

p {
    color:red;
}
*/

/*
h1{
    font-size: 48px;
}

div{
    font-size: 16px ;
}

div h1{
    font-size: 5em;
}

div p{
    font-size: 40%;
}
*/


div h1, div p{
    font-family: arial, Arial, Helvetica, sans-serif;
}

